# Problem Set 5
## Amir ElTabakh
## Due: 3/20/2022 - 11:59PM

Suppose you are interested in the relationship between a stateâ€™s mortality rate and its spending on hospitals (and other health services). The zip file `state_data.zip` contains datasets on
state mortality rate, state spending, state education level and state per capita income for the
years 1993 through 2015. The data come from different sources such as the US Census, the
Bureau of Economic Analysis and the US Mortality Database. More specifically, the data files
are as follows.\

(1) mortality_data.csv,\
(2) income_data.csv,\
(3) Education data for the years 1993 through 2006 are in the folder `education`, one file per
year: `education_1993.csv`, `education_1994.csv`, . . ., `education_2006.csv`,\
(4) Education data for years 2007 through 2015, in one file: `education_0715.csv`,\
(5) Expenditure data for the years 1993 through 2015 are in the folder `expenditure`, one
file per year: `expnd_1993.csv`, . . ., `expnd_2015.csv`.\


You need to generate a final dataset for your analysis. To this end, write a Python script that
implements the following tasks

1. Import the `mortality` dataset and name it `mort_data`. Keep only the observations for
the years 1993 through 2015.

In [1]:
# importing dependecies
import pandas as pd

In [2]:
# importing mortality_data 
mort_data = pd.read_csv(r"PS5_data\state_data\mortality_data.csv")
mort_data.head()

,state,year,age,mx,qx,ax,lx,dx,Lx,Tx,ex
0,Alaska,1959,0,0.03747,0.03632,0.15,100000,3632,96927,6868336,68.68
1,Alaska,1959,4-Jan,0.00112,0.00447,1.55,96368,431,384418,6771409,70.27
2,Alaska,1959,9-May,0.00079,0.00392,2.38,95937,376,478703,6386991,66.57
3,Alaska,1959,14-Oct,0.00089,0.00444,2.69,95561,424,476827,5908288,61.83
4,Alaska,1959,15-19,0.00122,0.00607,2.59,95137,578,474294,5431461,57.09

In [3]:
# filter for observations in years 1993 and 2015 inclusive
mort_data = mort_data[(mort_data['year'] >= 1993) & (mort_data['year'] <= 2015)]

# lets reset index
mort_data = mort_data.reset_index()
del mort_data['index']

# snapshot
mort_data.head()

,state,year,age,mx,qx,ax,lx,dx,Lx,Tx,ex
0,Alaska,1993,0,0.00858,0.00851,0.07,100000,851,99210,7553715,75.54
1,Alaska,1993,4-Jan,0.00060,0.00239,1.82,99149,237,396077,7454505,75.19
2,Alaska,1993,9-May,0.00026,0.00128,2.16,98912,127,494198,7058427,71.36
3,Alaska,1993,14-Oct,0.00056,0.00281,2.75,98785,277,493303,6564229,66.45
4,Alaska,1993,15-19,0.00110,0.00546,2.34,98508,538,491108,6070926,61.63

2. Change the column names for columns 4 through 11, to, `[mort rate, prob death,
ave length surv, num of surv, num of deaths, num years lived, num years left,
life expec]`.

In [4]:
# list of new column names
new_col_names = ['mort_rate', 'prob_death', 'ave_length_surv', 'num_of_surv', 'num_of_deaths',
                 'num_years_lived', 'num_years_left', 'life_expec']

# renaming columns by index
mort_data.columns.values[3:] = new_col_names

# snapshot
mort_data

,state,year,age,mort_rate,prob_death,ave_length_surv,num_of_surv,num_of_deaths,num_years_lived,num_years_left,life_expec
0,Alaska,1993,0,0.00858,0.00851,0.07,100000,851,99210,7553715,75.54
1,Alaska,1993,4-Jan,0.00060,0.00239,1.82,99149,237,396077,7454505,75.19
2,Alaska,1993,9-May,0.00026,0.00128,2.16,98912,127,494198,7058427,71.36
3,Alaska,1993,14-Oct,0.00056,0.00281,2.75,98785,277,493303,6564229,66.45
4,Alaska,1993,15-19,0.00110,0.00546,2.34,98508,538,491108,6070926,61.63
...,...,...,...,...,...,...,...,...,...,...,...
27595,Wyoming,2015,90-94,0.16854,0.58312,2.36,25611,14935,88614,125140,4.89
27596,Wyoming,2015,95-99,0.26771,0.75692,2.13,10677,8082,30188,36527,3.42
27597,Wyoming,2015,100-104,0.39605,0.88092,1.85,2595,2286,5773,6339,2.44
27598,Wyoming,2015,105-109,0.54097,0.94717,1.57,309,293,541,566,1.83
27599,Wyoming,2015,110+,0.65979,1.00000,1.52,16,16,25,25,1.52

3. `Age` column is a character type and needs to be changed to a numeric type. As such, first generate a new column, say `Age2`, by locating the "-" in the character string, and then slicing the string from the first character to the character just before "-". Then, convert this to a numeric type.

In [5]:
# approach 1
mort_data['age2'] = pd.Series([mort_data['age'][i].split("-")[0] for i in range(len(mort_data))])

# approach 2
"""
age_2 = []
for i in range(len(mort_data)):
    new_age = mort_data['age'][i].split("-")[0]
    age_2 = age_2 + [new_age]
    
mort_data['age2'] = pd.Series(age_2)
"""

# remove '+' 
mort_data['age2'] = mort_data['age2'].str.replace('+', '', regex = False)

# cast as integer
mort_data['age2'] = mort_data['age2'].astype(int)

# snapshot
mort_data['age2']

0          0
1          4
2          9
3         14
4         15
        ...
27595     90
27596     95
27597    100
27598    105
27599    110
Name: age2, Length: 27600, dtype: int32

4. Generate a new column, say age group by cutting Age2 to three intervals: (0, 18], (18, 64], (64, max(Age2)]. Use pd.cut() function and assign the labels "<=18", "19-64", ">64".

In [6]:
mort_data['age_group'] = pd.cut(mort_data['age2'],
                               [-1, 18, 64, max(mort_data['age2'])], # avoid NA with 0
                               labels = ['<=18', '19-64', '>64'])

# save the column as a variable for the next question
age_group = mort_data['age_group']

# snapshot
mort_data['age_group']

0        <=18
1        <=18
2        <=18
3        <=18
4        <=18
         ...
27595     >64
27596     >64
27597     >64
27598     >64
27599     >64
Name: age_group, Length: 27600, dtype: category
Categories (3, object): ['<=18' < '19-64' < '>64']

5. Drop Age and Age2 columns, and reorder the columns as [state, year, age group,
8 mortality variables].

In [7]:
# deleting columns `age` and `age2`
mort_data.drop(['age', 'age2', 'age_group'], axis = 1, inplace = True)

# insert `age_group` column after `year`
mort_data.insert(mort_data.columns.get_loc("year") + 1, "age_group", age_group)

# snapshot
mort_data

,state,year,age_group,mort_rate,prob_death,ave_length_surv,num_of_surv,num_of_deaths,num_years_lived,num_years_left,life_expec
0,Alaska,1993,<=18,0.00858,0.00851,0.07,100000,851,99210,7553715,75.54
1,Alaska,1993,<=18,0.00060,0.00239,1.82,99149,237,396077,7454505,75.19
2,Alaska,1993,<=18,0.00026,0.00128,2.16,98912,127,494198,7058427,71.36
3,Alaska,1993,<=18,0.00056,0.00281,2.75,98785,277,493303,6564229,66.45
4,Alaska,1993,<=18,0.00110,0.00546,2.34,98508,538,491108,6070926,61.63
...,...,...,...,...,...,...,...,...,...,...,...
27595,Wyoming,2015,>64,0.16854,0.58312,2.36,25611,14935,88614,125140,4.89
27596,Wyoming,2015,>64,0.26771,0.75692,2.13,10677,8082,30188,36527,3.42
27597,Wyoming,2015,>64,0.39605,0.88092,1.85,2595,2286,5773,6339,2.44
27598,Wyoming,2015,>64,0.54097,0.94717,1.57,309,293,541,566,1.83
27599,Wyoming,2015,>64,0.65979,1.00000,1.52,16,16,25,25,1.52

6. Aggregate the mortality related variables (there are 8 of them) by taking the average
over the groups of `[state, year, age group]`. Make sure that missing observations
are not included in the calculation of the average.

In [8]:
# aggregation
mort_data = mort_data.groupby(['state', 'year', 'age_group']).mean()

# snapshot
mort_data

                              mort_rate  prob_death  ave_length_surv  \
state         year age_group
\tMississippi 1993 <=18        0.002146    0.003722         1.908000
                   19-64       0.004670    0.022883         2.635556
                   >64         0.248711    0.560443         2.186000
              1994 <=18        0.002068    0.003616         1.962000
                   19-64       0.004732    0.023184         2.600000
...                                 ...         ...              ...
Wyoming       2014 19-64       0.003741    0.018444         2.560000
                   >64         0.232386    0.521798         2.232000
              2015 <=18        0.001312    0.002440         2.086000
                   19-64       0.003886    0.019168         2.612222
                   >64         0.226454    0.516805         2.239000

                               num_of_surv  num_of_deaths  num_years_lived  \
state         year age_group
\tMississippi 1993 <=18       99124.000000     370.000000    395172.200000
                   19-64      94071.777778    2070.666667    465507.000000
                   >64        31075.300000    7951.500000    135242.500000
              1994 <=18       99187.000000     359.600000    395509.000000
                   19-64      93931.888889    2095.222222    464718.666667
...                                    ...            ...              ...
Wyoming       2014 19-64      94743.111111    1700.555556    469536.666667
                   >64        36941.300000    8344.000000    163664.200000
              2015 <=18       99461.800000     242.800000    397029.800000
                   19-64      94475.555556    1762.555556    468195.333333
                   >64        36793.700000    8292.500000    163016.600000

                              num_years_left  life_expec
state         year age_group
\tMississippi 1993 <=18         6.904279e+06   69.636000
                   19-64        3.623537e+06   38.076667
                   >64          3.626938e+05    6.860000
              1994 <=18         6.909326e+06   69.642000
                   19-64        3.629259e+06   38.180000
...                                      ...         ...
Wyoming       2014 19-64        3.933890e+06   41.111111
                   >64          4.733065e+05    7.791000
              2015 <=18         7.212956e+06   72.508000
                   19-64        3.918918e+06   41.050000
                   >64          4.737238e+05    7.880000

[3450 rows x 8 columns]

In [9]:
mort_data

                              mort_rate  prob_death  ave_length_surv  \
state         year age_group
\tMississippi 1993 <=18        0.002146    0.003722         1.908000
                   19-64       0.004670    0.022883         2.635556
                   >64         0.248711    0.560443         2.186000
              1994 <=18        0.002068    0.003616         1.962000
                   19-64       0.004732    0.023184         2.600000
...                                 ...         ...              ...
Wyoming       2014 19-64       0.003741    0.018444         2.560000
                   >64         0.232386    0.521798         2.232000
              2015 <=18        0.001312    0.002440         2.086000
                   19-64       0.003886    0.019168         2.612222
                   >64         0.226454    0.516805         2.239000

                               num_of_surv  num_of_deaths  num_years_lived  \
state         year age_group
\tMississippi 1993 <=18       99124.000000     370.000000    395172.200000
                   19-64      94071.777778    2070.666667    465507.000000
                   >64        31075.300000    7951.500000    135242.500000
              1994 <=18       99187.000000     359.600000    395509.000000
                   19-64      93931.888889    2095.222222    464718.666667
...                                    ...            ...              ...
Wyoming       2014 19-64      94743.111111    1700.555556    469536.666667
                   >64        36941.300000    8344.000000    163664.200000
              2015 <=18       99461.800000     242.800000    397029.800000
                   19-64      94475.555556    1762.555556    468195.333333
                   >64        36793.700000    8292.500000    163016.600000

                              num_years_left  life_expec
state         year age_group
\tMississippi 1993 <=18         6.904279e+06   69.636000
                   19-64        3.623537e+06   38.076667
                   >64          3.626938e+05    6.860000
              1994 <=18         6.909326e+06   69.642000
                   19-64        3.629259e+06   38.180000
...                                      ...         ...
Wyoming       2014 19-64        3.933890e+06   41.111111
                   >64          4.733065e+05    7.791000
              2015 <=18         7.212956e+06   72.508000
                   19-64        3.918918e+06   41.050000
                   >64          4.737238e+05    7.880000

[3450 rows x 8 columns]

In [10]:
print(mort_data.columns)
print(mort_data.reset_index().columns)

# we will have to reset the index
mort_data = mort_data.reset_index()

# snapshot
mort_data

Index(['mort_rate', 'prob_death', 'ave_length_surv', 'num_of_surv',
       'num_of_deaths', 'num_years_lived', 'num_years_left', 'life_expec'],
      dtype='object')
Index(['state', 'year', 'age_group', 'mort_rate', 'prob_death',
       'ave_length_surv', 'num_of_surv', 'num_of_deaths', 'num_years_lived',
       'num_years_left', 'life_expec'],
      dtype='object')

,state,year,age_group,mort_rate,prob_death,ave_length_surv,num_of_surv,num_of_deaths,num_years_lived,num_years_left,life_expec
0,\tMississippi,1993,<=18,0.002146,0.003722,1.908000,99124.000000,370.000000,395172.200000,6.904279e+06,69.636000
1,\tMississippi,1993,19-64,0.004670,0.022883,2.635556,94071.777778,2070.666667,465507.000000,3.623537e+06,38.076667
2,\tMississippi,1993,>64,0.248711,0.560443,2.186000,31075.300000,7951.500000,135242.500000,3.626938e+05,6.860000
3,\tMississippi,1994,<=18,0.002068,0.003616,1.962000,99187.000000,359.600000,395509.000000,6.909326e+06,69.642000
4,\tMississippi,1994,19-64,0.004732,0.023184,2.600000,93931.888889,2095.222222,464718.666667,3.629259e+06,38.180000
...,...,...,...,...,...,...,...,...,...,...,...
3445,Wyoming,2014,19-64,0.003741,0.018444,2.560000,94743.111111,1700.555556,469536.666667,3.933890e+06,41.111111
3446,Wyoming,2014,>64,0.232386,0.521798,2.232000,36941.300000,8344.000000,163664.200000,4.733065e+05,7.791000
3447,Wyoming,2015,<=18,0.001312,0.002440,2.086000,99461.800000,242.800000,397029.800000,7.212956e+06,72.508000
3448,Wyoming,2015,19-64,0.003886,0.019168,2.612222,94475.555556,1762.555556,468195.333333,3.918918e+06,41.050000
3449,Wyoming,2015,>64,0.226454,0.516805,2.239000,36793.700000,8292.500000,163016.600000,4.737238e+05,7.880000

7. Take a look at the first five rows of the dataset using head(). Notice that there is a
problem with the state name Mississippi. It shows up as "\tMississippi". Change
them to "Mississippi", and sort the dataset by state, year and age group.

In [11]:
# fixing spelling mistake
mort_data['state'] = mort_data['state'].replace("\tMississippi", "Mississippi")

# sort dataset by state, year, and age_group
mort_data = mort_data.sort_values(['state', 'year', 'age_group'])

# snapshot
mort_data.head()

,state,year,age_group,mort_rate,prob_death,ave_length_surv,num_of_surv,num_of_deaths,num_years_lived,num_years_left,life_expec
69,Alabama,1993,<=18,0.002596,0.004282,1.960000,98921.800000,425.200000,394146.600000,6.770446e+06,68.422000
70,Alabama,1993,19-64,0.005451,0.026641,2.607778,92887.555556,2368.333333,458790.666667,3.509639e+06,37.254444
71,Alabama,1993,>64,0.231059,0.554784,2.221000,29521.900000,7655.600000,128266.700000,3.427327e+05,6.907000
72,Alabama,1994,<=18,0.002548,0.004234,1.990000,98965.000000,420.200000,394367.200000,6.781783e+06,68.504000
73,Alabama,1994,19-64,0.005362,0.026229,2.631111,92916.000000,2335.222222,459053.888889,3.519781e+06,37.355556

In [12]:
# get unique values of state to check Mississippi spelling
mort_data['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

8. Import the `income` dataset and name it `inc_data`. Note that the data set is in the
`wide` form and needs to be converted to the `long` form. To this end, you can use
`pd.wide_to_long()` and set argument `stubnames` to the column names corresponding
to multiple years in the wide form, and set argument `sep = "."`.

In [13]:
# importing income_data 
inc_data = pd.read_csv(r"PS5_data\state_data\income_data.csv")
inc_data.head()

,state,pinc.1993,pinc.1994,pinc.1995,pinc.1996,pinc.1997,pinc.1998,pinc.1999,pinc.2000,pinc.2001,...,pinc.2006,pinc.2007,pinc.2008,pinc.2009,pinc.2010,pinc.2011,pinc.2012,pinc.2013,pinc.2014,pinc.2015
0,Alabama,18129,18977,19892,20630,21516,22692,23352,24338,25104,...,31362,32598,33353,32608,33752,34997,35884,36107,37266,38644
1,Alaska,25036,25713,26399,26953,28185,29220,29892,31974,33517,...,41058,43861,47749,47069,49438,52390,53627,52723,55833,57583
2,Arizona,18950,19869,20753,21737,22804,24176,24813,26235,26803,...,34686,35789,35563,33418,33635,34968,36123,36602,38226,39676
3,Arkansas,16956,17758,18602,19458,20187,21222,21861,22762,23840,...,29438,31070,31940,31153,31927,33863,36240,36235,38260,39343
4,California,23013,23581,24629,25912,27171,29100,30640,33364,34043,...,42088,43629,43890,42044,43634,46170,48798,49277,52324,55758

`pd.wide_to_long` is a bit tricky. Instead I used [pd.melt()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.melt.html?highlight=melt#pandas.DataFrame.melt), which does the same thing.

In [14]:
inc_data_melted = pd.melt(inc_data,
                   id_vars = "state",
                   value_vars = inc_data.columns[1:])

# renaming variable
inc_data_melted = inc_data_melted.rename(columns = {'variable':'year',
                                                    'value' : 'pinc'})

# cleaning string
inc_data_melted['year'] = inc_data_melted['year'].str.replace("pinc.", "", regex = False)

# snapshot
inc_data_melted

              state  year   pinc
0           Alabama  1993  18129
1            Alaska  1993  25036
2           Arizona  1993  18950
3          Arkansas  1993  16956
4        California  1993  23013
...             ...   ...    ...
1145       Virginia  2015  52892
1146     Washington  2015  53840
1147  West Virginia  2015  36915
1148      Wisconsin  2015  46681
1149        Wyoming  2015  57101

[1150 rows x 3 columns]

9. Reset index for `inc_data`, and sort it by as `[state, year]`.

In [15]:
# sort by ['state', 'year']
inc_data = inc_data_melted.sort_values(['state', 'year'])

# reset index
inc_data = inc_data.reset_index()
del inc_data['index']

# snapshot
inc_data

        state  year   pinc
0     Alabama  1993  18129
1     Alabama  1994  18977
2     Alabama  1995  19892
3     Alabama  1996  20630
4     Alabama  1997  21516
...       ...   ...    ...
1145  Wyoming  2011  49992
1146  Wyoming  2012  53527
1147  Wyoming  2013  52892
1148  Wyoming  2014  56708
1149  Wyoming  2015  57101

[1150 rows x 3 columns]

10. Append the education datasets from 1993 through 2006 and education 0715, name it
educ data. Rename columns 3 and 4 as `[phs, pcoll]`.

I had to fix the spelling of the column name in the `education_2004` dataset.

In [16]:
# importing education_0715 
educ_data = pd.read_csv(r"PS5_data\state_data\education_0715.csv")

# reorder columns
educ_data = educ_data[['state', 'year', 'percent_highschool', 'percent_college']]

# iterate over files
year = 1993
for i in range(14):
    filepath = f"PS5_data\\state_data\\education\\education_{year}.csv"
    
    # import data
    data = pd.read_csv(filepath)
    
    # append data to educ
    educ_data = pd.concat([educ_data, data], axis = 0)
    
    # iterate year
    year += 1
    
# renaming columns
educ_data = educ_data.rename(columns = {"percent_highschool" : "phs",
                             "percent_college" : "pcol"})

educ_data = educ_data.sort_values(["state", "year"])

# reset index
educ_data = educ_data.reset_index()
del educ_data['index']

# snapshot
educ_data

        state  year    phs   pcol
0     Alabama  1993  76.00  14.60
1     Alabama  1994  72.50  15.20
2     Alabama  1995  74.40  17.30
3     Alabama  1996  75.70  18.00
4     Alabama  1997  77.60  19.30
...       ...   ...    ...    ...
1145  Wyoming  2011  92.30  25.50
1146  Wyoming  2012  92.61  25.75
1147  Wyoming  2013  94.60  27.59
1148  Wyoming  2014  93.15  26.72
1149  Wyoming  2015  93.06  25.85

[1150 rows x 4 columns]

11. Append the expenditure datasets from 1993 to 2015, and name it `expnd_data`. Note
that the columns may have been named slightly different for some years. Reset index for
expnd data, and sort it by as [state, year]. Make sure that all expenditure variables
are numeric type.

In [17]:
# importing education_0715 
expnd_data = pd.read_csv(r"PS5_data\state_data\expenditure\expnd_1993.csv")

# get column names
expnd_col_names = expnd_data.columns

# iterate over files
year = 1994
for i in range(22):
    filepath = f"PS5_data\\state_data\\expenditure\\expnd_{year}.csv"
    
    # import data
    data = pd.read_csv(filepath)
    
    # renaming columns
    data.columns = expnd_col_names
    
    # append data to educ
    expnd_data = pd.concat([expnd_data, data], axis = 0)
    
    # iterate year
    year += 1

# sorting df
expnd_data = expnd_data.sort_values(["State", "Year"])

# renaming columns
expnd_data = expnd_data.rename(columns = {"State" : "state",
                                          "Year" : "year"})

# reset index
expnd_data = expnd_data.reset_index()
del expnd_data['index']

# snapshot
expnd_data

,state,year,Total_revenue,Taxes,Total_expenditure,Education,Public_welfare,Hospitals,Health
0,Alabama,1993,"11,389,335","4,639,784","10,242,374","1,920,765","2,006,829","887,835","395,901"
1,Alabama,1994,"11,599,362","4,767,108","10,815,221","2,101,540","2,157,831","823,194","470,960"
2,Alabama,1995,12448670,5077827,11634629,2260473,2282961,811433,474424
3,Alabama,1996,12741148,5257771,12126587,2240613,2325418,815698,500625
4,Alabama,1997,"14,007,883","5,484,161","12,944,867","5,175,279","2,537,627","882,613","566,651"
...,...,...,...,...,...,...,...,...,...
1145,Wyoming,2011,"7,494,341","2,461,977","5,673,561","1,679,054","739,851","4,468","281,932"
1146,Wyoming,2012,6599126,2304628,5773573,1684155,761080,6803,278523
1147,Wyoming,2013,"7,625,301","2,186,054","5,834,892","570,892","782,977","4,403","266,390"
1148,Wyoming,2014,"7,460,965","2,263,387","5,920,960","560,819","792,886","3,927","263,321"
1149,Wyoming,2015,"7,266,100","2,356,323","6,411,071","2,010,117","795,434","3,768","266,654"

12. Merge `inc_data` and `educ_data` by `state` and `year`, and name the merged dataset `data`. Notice that this is a one-to-one merge. Merge `data` and `expnd_data` by `state` and `year`, and name the merged dataset again `data`. Notice again that this is a one-to-one merge. Merge `mort_data` and data by `state` and `year`, and name the merged dataset again `data`. Notice that this is a many-to-one merge.

In [18]:
# casting keys as strings
inc_data[['state', 'year']] = inc_data[['state', 'year']].astype(str)
educ_data[['state', 'year']] = educ_data[['state', 'year']].astype(str)
expnd_data[['state', 'year']] = expnd_data[['state', 'year']].astype(str)
mort_data[['state', 'year']] = mort_data[['state', 'year']].astype(str)

# merge inc_data and educ_data
data = inc_data.merge(educ_data, left_on = ['state', 'year'], right_on = ['state', 'year'])

# merge data and expnd_data
data = data.merge(expnd_data,  left_on = ['state', 'year'], right_on = ['state', 'year'])

# merge data and mort_data
data = data.merge(mort_data,  left_on = ['state', 'year'], right_on = ['state', 'year'])

# snapshot
data

,state,year,pinc,phs,pcol,Total_revenue,Taxes,Total_expenditure,Education,Public_welfare,...,Health,age_group,mort_rate,prob_death,ave_length_surv,num_of_surv,num_of_deaths,num_years_lived,num_years_left,life_expec
0,Alabama,1993,18129,76.00,14.60,"11,389,335","4,639,784","10,242,374","1,920,765","2,006,829",...,"395,901",<=18,0.002596,0.004282,1.960000,98921.800000,425.200000,394146.600000,6.770446e+06,68.422000
1,Alabama,1993,18129,76.00,14.60,"11,389,335","4,639,784","10,242,374","1,920,765","2,006,829",...,"395,901",19-64,0.005451,0.026641,2.607778,92887.555556,2368.333333,458790.666667,3.509639e+06,37.254444
2,Alabama,1993,18129,76.00,14.60,"11,389,335","4,639,784","10,242,374","1,920,765","2,006,829",...,"395,901",>64,0.231059,0.554784,2.221000,29521.900000,7655.600000,128266.700000,3.427327e+05,6.907000
3,Alabama,1994,18977,72.50,15.20,"11,599,362","4,767,108","10,815,221","2,101,540","2,157,831",...,"470,960",<=18,0.002548,0.004234,1.990000,98965.000000,420.200000,394367.200000,6.781783e+06,68.504000
4,Alabama,1994,18977,72.50,15.20,"11,599,362","4,767,108","10,815,221","2,101,540","2,157,831",...,"470,960",19-64,0.005362,0.026229,2.631111,92916.000000,2335.222222,459053.888889,3.519781e+06,37.355556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445,Wyoming,2014,56708,93.15,26.72,"7,460,965","2,263,387","5,920,960","560,819","792,886",...,"263,321",19-64,0.003741,0.018444,2.560000,94743.111111,1700.555556,469536.666667,3.933890e+06,41.111111
3446,Wyoming,2014,56708,93.15,26.72,"7,460,965","2,263,387","5,920,960","560,819","792,886",...,"263,321",>64,0.232386,0.521798,2.232000,36941.300000,8344.000000,163664.200000,4.733065e+05,7.791000
3447,Wyoming,2015,57101,93.06,25.85,"7,266,100","2,356,323","6,411,071","2,010,117","795,434",...,"266,654",<=18,0.001312,0.002440,2.086000,99461.800000,242.800000,397029.800000,7.212956e+06,72.508000
3448,Wyoming,2015,57101,93.06,25.85,"7,266,100","2,356,323","6,411,071","2,010,117","795,434",...,"266,654",19-64,0.003886,0.019168,2.612222,94475.555556,1762.555556,468195.333333,3.918918e+06,41.050000
3449,Wyoming,2015,57101,93.06,25.85,"7,266,100","2,356,323","6,411,071","2,010,117","795,434",...,"266,654",>64,0.226454,0.516805,2.239000,36793.700000,8292.500000,163016.600000,4.737238e+05,7.880000

13. Remove mort data, inc data, educ data, expnd data.

I can't do that on Jupyter.

14. Change the measurement of `['pinc', 'tot_revenue', 'taxes', 'tot_expnd', 'education', 'public_welfare', 'hospital', 'health']` to in 10, 000 dollars, i.e., divide each by 1e4.

In [19]:
# get column names
data.columns

Index(['state', 'year', 'pinc', 'phs', 'pcol', 'Total_revenue', 'Taxes',
       'Total_expenditure', 'Education', 'Public_welfare', 'Hospitals',
       'Health', 'age_group', 'mort_rate', 'prob_death', 'ave_length_surv',
       'num_of_surv', 'num_of_deaths', 'num_years_lived', 'num_years_left',
       'life_expec'],
      dtype='object')

In [20]:
columns_to_change_measurement = ['pinc', 'Total_revenue', 'Taxes', 'Total_expenditure',
                                 'Education', 'Public_welfare', 'Hospitals', 'Health']

# We'll have to remove the comma from the strings
# changing measurement
data[columns_to_change_measurement] = data[columns_to_change_measurement].astype(str).replace(",", "", regex = True)
data[columns_to_change_measurement] = data[columns_to_change_measurement].astype(float).divide(1e4)

# snapshot
data

,state,year,pinc,phs,pcol,Total_revenue,Taxes,Total_expenditure,Education,Public_welfare,...,Health,age_group,mort_rate,prob_death,ave_length_surv,num_of_surv,num_of_deaths,num_years_lived,num_years_left,life_expec
0,Alabama,1993,1.8129,76.00,14.60,1138.9335,463.9784,1024.2374,192.0765,200.6829,...,39.5901,<=18,0.002596,0.004282,1.960000,98921.800000,425.200000,394146.600000,6.770446e+06,68.422000
1,Alabama,1993,1.8129,76.00,14.60,1138.9335,463.9784,1024.2374,192.0765,200.6829,...,39.5901,19-64,0.005451,0.026641,2.607778,92887.555556,2368.333333,458790.666667,3.509639e+06,37.254444
2,Alabama,1993,1.8129,76.00,14.60,1138.9335,463.9784,1024.2374,192.0765,200.6829,...,39.5901,>64,0.231059,0.554784,2.221000,29521.900000,7655.600000,128266.700000,3.427327e+05,6.907000
3,Alabama,1994,1.8977,72.50,15.20,1159.9362,476.7108,1081.5221,210.1540,215.7831,...,47.0960,<=18,0.002548,0.004234,1.990000,98965.000000,420.200000,394367.200000,6.781783e+06,68.504000
4,Alabama,1994,1.8977,72.50,15.20,1159.9362,476.7108,1081.5221,210.1540,215.7831,...,47.0960,19-64,0.005362,0.026229,2.631111,92916.000000,2335.222222,459053.888889,3.519781e+06,37.355556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445,Wyoming,2014,5.6708,93.15,26.72,746.0965,226.3387,592.0960,56.0819,79.2886,...,26.3321,19-64,0.003741,0.018444,2.560000,94743.111111,1700.555556,469536.666667,3.933890e+06,41.111111
3446,Wyoming,2014,5.6708,93.15,26.72,746.0965,226.3387,592.0960,56.0819,79.2886,...,26.3321,>64,0.232386,0.521798,2.232000,36941.300000,8344.000000,163664.200000,4.733065e+05,7.791000
3447,Wyoming,2015,5.7101,93.06,25.85,726.6100,235.6323,641.1071,201.0117,79.5434,...,26.6654,<=18,0.001312,0.002440,2.086000,99461.800000,242.800000,397029.800000,7.212956e+06,72.508000
3448,Wyoming,2015,5.7101,93.06,25.85,726.6100,235.6323,641.1071,201.0117,79.5434,...,26.6654,19-64,0.003886,0.019168,2.612222,94475.555556,1762.555556,468195.333333,3.918918e+06,41.050000
3449,Wyoming,2015,5.7101,93.06,25.85,726.6100,235.6323,641.1071,201.0117,79.5434,...,26.6654,>64,0.226454,0.516805,2.239000,36793.700000,8292.500000,163016.600000,4.737238e+05,7.880000

15. Generate a table of descriptive statistics for your dataset using pd.describe().

In [21]:
# descriptive stats
data.describe()

,pinc,phs,pcol,Total_revenue,Taxes,Total_expenditure,Education,Public_welfare,Hospitals,Health,mort_rate,prob_death,ave_length_surv,num_of_surv,num_of_deaths,num_years_lived,num_years_left,life_expec
count,3450.00000,3450.000000,3450.00000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3.450000e+03,3450.000000
mean,3.36969,86.458478,26.53447,2985.574205,1239.430862,2820.937531,726.041052,661.407448,91.054652,87.374315,0.085037,0.188843,2.258525,76358.355388,3436.387433,340001.412351,3.796730e+06,39.660407
std,0.96146,4.792606,5.61770,3906.475132,1617.537420,3675.659294,979.064300,948.350364,127.431786,134.773489,0.116519,0.251916,0.276008,29557.125216,3489.169291,136269.306107,2.742141e+06,26.380110
min,1.56670,68.500000,11.40000,194.216000,58.906900,168.642600,20.138500,20.840400,0.000000,2.444800,0.000940,0.001390,1.556000,28493.000000,138.600000,123333.900000,3.256397e+05,6.440000
25%,2.59670,83.600000,22.40000,851.843600,357.806800,781.648100,177.917800,161.470300,10.427000,22.726400,0.001904,0.003070,2.014000,36743.250000,305.400000,162413.650000,4.620922e+05,7.522000
50%,3.29115,87.100000,26.10000,1799.000350,753.174650,1701.514850,421.929400,365.618650,50.938700,46.859750,0.003793,0.018675,2.195500,95143.055556,1723.444444,396310.600000,3.840729e+06,39.946667
75%,4.00470,90.000000,30.10000,3480.481700,1531.538600,3270.872000,893.802000,782.528200,118.042600,97.709400,0.242375,0.534573,2.601111,99220.600000,8088.300000,467561.305556,6.998749e+06,70.512000
max,6.82880,96.090000,44.30000,35338.593500,15123.416500,33021.075600,9027.651900,10903.170200,1146.805000,1194.318700,0.293714,0.586497,2.750000,99621.800000,8808.700000,480757.222222,7.545226e+06,75.768000

(16) Regress mort rate on an intercept, health, hospital, log(pinc), phs and pcoll
for the age group ">64". Name the results spec 1.

In [22]:
import statsmodels.formula.api as smf
import numpy as np

# spec 1
spec_1 = smf.ols('mort_rate ~ Health + Hospitals + np.log(pinc) + phs + pcol',
                 data = data.loc[data['age_group'] == ">64"]).fit()

# output model summary
spec_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              mort_rate   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.013
Method:                 Least Squares   F-statistic:                     4.141
Date:                Sat, 19 Mar 2022   Prob (F-statistic):           0.000987
Time:                        16:12:02   Log-Likelihood:                 3547.8
No. Observations:                1150   AIC:                            -7084.
Df Residuals:                    1144   BIC:                            -7053.
Df Model:                           5
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        0.2507      0.008     33.220      0.000       0.236       0.266
Health         5.53e-06   3.64e-06      1.519      0.129   -1.61e-06    1.27e-05
Hospitals    -4.797e-06   3.92e-06     -1.224      0.221   -1.25e-05    2.89e-06
np.log(pinc)    -0.0054      0.002     -2.596      0.010      -0.010      -0.001
phs           6.493e-05      0.000      0.621      0.535      -0.000       0.000
pcol         -1.738e-05   9.57e-05     -0.182      0.856      -0.000       0.000
==============================================================================
Omnibus:                       10.216   Durbin-Watson:                   0.689
Prob(Omnibus):                  0.006   Jarque-Bera (JB):               14.686
Skew:                           0.040   Prob(JB):                     0.000647
Kurtosis:                       3.548   Cond. No.                     5.14e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.14e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

17. Regress mort rate on an intercept, health, hospital, log(pinc), phs, pcoll and state dummies for the age group ">64". Name the results spec 2.

In [23]:
# spec 2
spec_2 = smf.ols('mort_rate ~ Health + Hospitals + np.log(pinc) + phs + pcol + C(state)',
                 data = data.loc[data['age_group'] == ">64"]).fit()

# output model summary
spec_2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              mort_rate   R-squared:                       0.369
Model:                            OLS   Adj. R-squared:                  0.338
Method:                 Least Squares   F-statistic:                     11.84
Date:                Sat, 19 Mar 2022   Prob (F-statistic):           1.83e-76
Time:                        16:12:02   Log-Likelihood:                 3802.0
No. Observations:                1150   AIC:                            -7494.
Df Residuals:                    1095   BIC:                            -7216.
Df Model:                          54
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      0.2482      0.010     24.071      0.000       0.228       0.268
C(state)[T.Alaska]            -0.0179      0.003     -5.957      0.000      -0.024      -0.012
C(state)[T.Arizona]           -0.0041      0.003     -1.437      0.151      -0.010       0.001
C(state)[T.Arkansas]          -0.0060      0.003     -2.172      0.030      -0.011      -0.001
C(state)[T.California]        -0.0055      0.004     -1.381      0.168      -0.013       0.002
C(state)[T.Colorado]          -0.0031      0.003     -0.892      0.373      -0.010       0.004
C(state)[T.Connecticut]       -0.0102      0.003     -3.318      0.001      -0.016      -0.004
C(state)[T.Delaware]          -0.0123      0.003     -4.269      0.000      -0.018      -0.007
C(state)[T.Florida]           -0.0130      0.003     -4.415      0.000      -0.019      -0.007
C(state)[T.Georgia]           -0.0055      0.003     -1.960      0.050      -0.011    4.79e-06
C(state)[T.Hawaii]            -0.0278      0.003     -9.485      0.000      -0.034      -0.022
C(state)[T.Idaho]             -0.0103      0.003     -3.543      0.000      -0.016      -0.005
C(state)[T.Illinois]           0.0005      0.003      0.176      0.860      -0.005       0.006
C(state)[T.Indiana]           -0.0093      0.003     -3.294      0.001      -0.015      -0.004
C(state)[T.Iowa]              -0.0035      0.003     -1.210      0.226      -0.009       0.002
C(state)[T.Kansas]            -0.0047      0.003     -1.558      0.120      -0.011       0.001
C(state)[T.Kentucky]           0.0039      0.003      1.446      0.148      -0.001       0.009
C(state)[T.Louisiana]          0.0012      0.003      0.448      0.654      -0.004       0.006
C(state)[T.Maine]             -0.0097      0.003     -3.272      0.001      -0.015      -0.004
C(state)[T.Maryland]          -0.0112      0.003     -3.383      0.001      -0.018      -0.005
C(state)[T.Massachusetts]     -0.0020      0.003     -0.592      0.554      -0.009       0.005
C(state)[T.Michigan]          -0.0016      0.003     -0.562      0.574      -0.007       0.004
C(state)[T.Minnesota]         -0.0067      0.003     -2.108      0.035      -0.013      -0.000
C(state)[T.Mississippi]       -0.0009      0.003     -0.325      0.745      -0.006       0.004
C(state)[T.Missouri]          -0.0092      0.003     -3.307      0.001      -0.015      -0.004
C(state)[T.Montana]           -0.0037      0.003     -1.207      0.228      -0.010       0.002
C(state)[T.Nebraska]          -0.0089      0.003     -3.046      0.002      -0.015      -0.003
C(state)[T.Nevada]            -0.0116      0.003     -4.084      0.000      -0.017      -0.006
C(state)[T.New Hampshire]     -0.0052      0.003     -1.666      0.096      -0.011       0.001
C(state)[T.New Jersey]        -0.0030      0.003     -0.981      0.327      -0.009       0.003
C(state)[T.New Mexico]        -0.0069      0.003     -2.488      0.013      -0.012      -0.001
C(state)[T.New York]          -0.0005      0.003     -0.145      0.885      -0.007       0.006
C(state)[T.North Carolina]    -0.0023      0.003     -0.831      0.406      -0.008       0.003
C(state)[T.North Dakota]      -0.0144      0.003     -4.904      0.000      -0.020      -0.009
C(state)[T.Ohio]               0.0018      0.003      0.629      0.530      -0.004       0.007
C(state)[T.Oklahoma]           0.0040      0.003      1.427      0.154      -0.001       0.009
C(state)[T.Oregon]            -0.0011      0.003     -0.396      0.692      -0.007       0.005
C(state)[T.Pennsylvania]       0.0041      0.003      1.464      0.144      -0.001       0.010
C(state)[T.Rhode Island]      -0.0049      0.003     -1.628      0.104      -0.011       0.001
C(state)[T.South Carolina]    -0.0107      0.003     -3.944      0.000      -0.016      -0.005
C(state)[T.South Dakota]      -0.0181      0.003     -6.228      0.000      -0.024      -0.012
C(state)[T.Tennessee]          0.0002      0.003      0.082      0.935      -0.005       0.006
C(state)[T.Texas]              0.0028      0.003      0.962      0.336      -0.003       0.008
C(state)[T.Utah]               0.0176      0.003      5.583      0.000       0.011       0.024
C(state)[T.Vermont]           -0.0080      0.003     -2.474      0.013      -0.014      -0.002
C(state)[T.Virginia]           0.0021      0.003      0.685      0.494      -0.004       0.008
C(state)[T.Washington]        -0.0069      0.003     -2.330      0.020      -0.013      -0.001
C(state)[T.West Virginia]     -0.0063      0.003     -2.216      0.027      -0.012      -0.001
C(state)[T.Wisconsin]          0.0049      0.003      1.731      0.084      -0.001       0.011
C(state)[T.Wyoming]           -0.0106      0.003     -3.463      0.001      -0.017      -0.005
Health                      1.641e-05   4.25e-06      3.867      0.000    8.08e-06    2.47e-05
Hospitals                  -3.188e-05   5.23e-06     -6.092      0.000   -4.21e-05   -2.16e-05
np.log(pinc)                   0.0021      0.003      0.806      0.420      -0.003       0.007
phs                            0.0001      0.000      0.940      0.348      -0.000       0.000
pcol                          -0.0003      0.000     -1.344      0.179      -0.001       0.000
==============================================================================
Omnibus:                        5.609   Durbin-Watson:                   1.038
Prob(Omnibus):                  0.061   Jarque-Bera (JB):                5.863
Skew:                           0.118   Prob(JB):                       0.0533
Kurtosis:                       3.259   Cond. No.                     1.21e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.21e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

18. Regress mort rate on an intercept, health, hospital, log(pinc), phs, pcoll and
state and year dummies for the age group ">64". Name the results spec 3.

In [24]:
# spec 3
spec_3 = smf.ols('mort_rate ~ Health + Hospitals + np.log(pinc) + phs + pcol + C(state) + C(year)',
                 data = data.loc[data['age_group'] == ">64"]).fit()

# output model summary
spec_3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              mort_rate   R-squared:                       0.672
Model:                            OLS   Adj. R-squared:                  0.649
Method:                 Least Squares   F-statistic:                     28.95
Date:                Sat, 19 Mar 2022   Prob (F-statistic):          1.45e-208
Time:                        16:12:02   Log-Likelihood:                 4178.8
No. Observations:                1150   AIC:                            -8204.
Df Residuals:                    1073   BIC:                            -7815.
Df Model:                          76
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      0.2382      0.009     27.799      0.000       0.221       0.255
C(state)[T.Alaska]            -0.0136      0.003     -5.014      0.000      -0.019      -0.008
C(state)[T.Arizona]           -0.0004      0.002     -0.196      0.844      -0.005       0.004
C(state)[T.Arkansas]          -0.0047      0.002     -2.310      0.021      -0.009      -0.001
C(state)[T.California]        -0.0056      0.003     -1.639      0.101      -0.012       0.001
C(state)[T.Colorado]          -0.0005      0.003     -0.164      0.870      -0.006       0.005
C(state)[T.Connecticut]       -0.0067      0.004     -1.819      0.069      -0.014       0.001
C(state)[T.Delaware]          -0.0082      0.002     -3.307      0.001      -0.013      -0.003
C(state)[T.Florida]           -0.0068      0.002     -2.939      0.003      -0.011      -0.002
C(state)[T.Georgia]           -0.0034      0.002     -1.603      0.109      -0.008       0.001
C(state)[T.Hawaii]            -0.0251      0.002    -10.155      0.000      -0.030      -0.020
C(state)[T.Idaho]             -0.0085      0.002     -3.997      0.000      -0.013      -0.004
C(state)[T.Illinois]           0.0048      0.003      1.871      0.062      -0.000       0.010
C(state)[T.Indiana]           -0.0061      0.002     -2.932      0.003      -0.010      -0.002
C(state)[T.Iowa]              -0.0028      0.002     -1.281      0.200      -0.007       0.002
C(state)[T.Kansas]            -0.0035      0.002     -1.447      0.148      -0.008       0.001
C(state)[T.Kentucky]           0.0051      0.002      2.613      0.009       0.001       0.009
C(state)[T.Louisiana]          0.0012      0.002      0.624      0.533      -0.003       0.005
C(state)[T.Maine]             -0.0069      0.002     -3.068      0.002      -0.011      -0.002
C(state)[T.Maryland]          -0.0064      0.003     -2.003      0.045      -0.013      -0.000
C(state)[T.Massachusetts]      0.0024      0.003      0.690      0.491      -0.004       0.009
C(state)[T.Michigan]          -0.0012      0.002     -0.539      0.590      -0.005       0.003
C(state)[T.Minnesota]         -0.0040      0.003     -1.449      0.148      -0.009       0.001
C(state)[T.Mississippi]       -0.0006      0.002     -0.311      0.756      -0.005       0.003
C(state)[T.Missouri]          -0.0078      0.002     -3.618      0.000      -0.012      -0.004
C(state)[T.Montana]           -0.0023      0.002     -1.033      0.302      -0.007       0.002
C(state)[T.Nebraska]          -0.0060      0.002     -2.571      0.010      -0.011      -0.001
C(state)[T.Nevada]            -0.0076      0.002     -3.415      0.001      -0.012      -0.003
C(state)[T.New Hampshire]     -0.0017      0.003     -0.584      0.560      -0.007       0.004
C(state)[T.New Jersey]        -0.0008      0.003     -0.231      0.817      -0.007       0.006
C(state)[T.New Mexico]        -0.0061      0.002     -2.995      0.003      -0.010      -0.002
C(state)[T.New York]           0.0009      0.003      0.264      0.792      -0.006       0.007
C(state)[T.North Carolina]    -0.0009      0.002     -0.449      0.653      -0.005       0.003
C(state)[T.North Dakota]      -0.0118      0.002     -5.206      0.000      -0.016      -0.007
C(state)[T.Ohio]               0.0027      0.002      1.219      0.223      -0.002       0.007
C(state)[T.Oklahoma]           0.0067      0.002      3.249      0.001       0.003       0.011
C(state)[T.Oregon]            -0.0007      0.002     -0.327      0.744      -0.005       0.004
C(state)[T.Pennsylvania]       0.0041      0.002      1.743      0.082      -0.001       0.009
C(state)[T.Rhode Island]      -0.0014      0.002     -0.570      0.569      -0.006       0.003
C(state)[T.South Carolina]    -0.0099      0.002     -5.033      0.000      -0.014      -0.006
C(state)[T.South Dakota]      -0.0154      0.002     -6.888      0.000      -0.020      -0.011
C(state)[T.Tennessee]          0.0034      0.002      1.680      0.093      -0.001       0.007
C(state)[T.Texas]              0.0007      0.002      0.324      0.746      -0.004       0.005
C(state)[T.Utah]               0.0171      0.002      7.385      0.000       0.013       0.022
C(state)[T.Vermont]           -0.0057      0.003     -2.176      0.030      -0.011      -0.001
C(state)[T.Virginia]           0.0012      0.003      0.414      0.679      -0.004       0.007
C(state)[T.Washington]        -0.0047      0.003     -1.771      0.077      -0.010       0.001
C(state)[T.West Virginia]     -0.0039      0.002     -1.820      0.069      -0.008       0.000
C(state)[T.Wisconsin]          0.0066      0.002      2.902      0.004       0.002       0.011
C(state)[T.Wyoming]           -0.0064      0.003     -2.554      0.011      -0.011      -0.001
C(year)[T.1994]               -0.0023      0.001     -1.740      0.082      -0.005       0.000
C(year)[T.1995]                0.0005      0.001      0.372      0.710      -0.002       0.003
C(year)[T.1996]                0.0019      0.001      1.302      0.193      -0.001       0.005
C(year)[T.1997]                0.0055      0.002      3.425      0.001       0.002       0.009
C(year)[T.1998]                0.0065      0.002      3.672      0.000       0.003       0.010
C(year)[T.1999]                0.0131      0.002      6.874      0.000       0.009       0.017
C(year)[T.2000]                0.0145      0.002      6.802      0.000       0.010       0.019
C(year)[T.2001]                0.0153      0.002      6.716      0.000       0.011       0.020
C(year)[T.2002]                0.0192      0.002      8.153      0.000       0.015       0.024
C(year)[T.2003]                0.0220      0.002      8.888      0.000       0.017       0.027
C(year)[T.2004]                0.0114      0.003      4.266      0.000       0.006       0.017
C(year)[T.2005]                0.0177      0.003      6.161      0.000       0.012       0.023
C(year)[T.2006]                0.0131      0.003      4.206      0.000       0.007       0.019
C(year)[T.2007]                0.0115      0.003      3.420      0.001       0.005       0.018
C(year)[T.2008]                0.0152      0.004      4.301      0.000       0.008       0.022
C(year)[T.2009]                0.0049      0.003      1.437      0.151      -0.002       0.012
C(year)[T.2010]                0.0075      0.004      2.126      0.034       0.001       0.014
C(year)[T.2011]                0.0103      0.004      2.734      0.006       0.003       0.018
C(year)[T.2012]                0.0089      0.004      2.237      0.025       0.001       0.017
C(year)[T.2013]                0.0063      0.004      1.573      0.116      -0.002       0.014
C(year)[T.2014]                0.0016      0.004      0.373      0.709      -0.007       0.010
C(year)[T.2015]                0.0031      0.004      0.702      0.483      -0.005       0.012
Health                      1.279e-06    3.2e-06      0.400      0.690      -5e-06    7.56e-06
Hospitals                  -7.899e-06   3.96e-06     -1.993      0.047   -1.57e-05   -1.22e-07
np.log(pinc)                  -0.0076      0.005     -1.573      0.116      -0.017       0.002
phs                            0.0002      0.000      1.900      0.058   -6.89e-06       0.000
pcol                          -0.0001      0.000     -0.859      0.390      -0.000       0.000
==============================================================================
Omnibus:                       49.191   Durbin-Watson:                   1.495
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              148.587
Skew:                           0.033   Prob(JB):                     5.43e-33
Kurtosis:                       4.760   Cond. No.                     1.96e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.96e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

19. Generate a table for the regression results using summary col or stargazer.

In [25]:
from statsmodels.iolib.summary2 import summary_col

# generate summary_col results table
results_table = summary_col(results = [spec_1, spec_2, spec_3],
                            float_format = '%0.3f',
                            stars = True,
                            model_names = ['spec_1', 'spec_2', 'spec_3'])

# output results table
results_table

<class 'statsmodels.iolib.summary2.Summary'>
"""

========================================================
                             spec_1    spec_2    spec_3
--------------------------------------------------------
C(state)[T.Alaska]                   -0.018*** -0.014***
                                     (0.003)   (0.003)
C(state)[T.Arizona]                  -0.004    -0.000
                                     (0.003)   (0.002)
C(state)[T.Arkansas]                 -0.006**  -0.005**
                                     (0.003)   (0.002)
C(state)[T.California]               -0.005    -0.006
                                     (0.004)   (0.003)
C(state)[T.Colorado]                 -0.003    -0.000
                                     (0.003)   (0.003)
C(state)[T.Connecticut]              -0.010*** -0.007*
                                     (0.003)   (0.004)
C(state)[T.Delaware]                 -0.012*** -0.008***
                                     (0.003)   (0.002)
C(state)[T.Florida]                  -0.013*** -0.007***
                                     (0.003)   (0.002)
C(state)[T.Georgia]                  -0.005*   -0.003
                                     (0.003)   (0.002)
C(state)[T.Hawaii]                   -0.028*** -0.025***
                                     (0.003)   (0.002)
C(state)[T.Idaho]                    -0.010*** -0.008***
                                     (0.003)   (0.002)
C(state)[T.Illinois]                 0.001     0.005*
                                     (0.003)   (0.003)
C(state)[T.Indiana]                  -0.009*** -0.006***
                                     (0.003)   (0.002)
C(state)[T.Iowa]                     -0.003    -0.003
                                     (0.003)   (0.002)
C(state)[T.Kansas]                   -0.005    -0.003
                                     (0.003)   (0.002)
C(state)[T.Kentucky]                 0.004     0.005***
                                     (0.003)   (0.002)
C(state)[T.Louisiana]                0.001     0.001
                                     (0.003)   (0.002)
C(state)[T.Maine]                    -0.010*** -0.007***
                                     (0.003)   (0.002)
C(state)[T.Maryland]                 -0.011*** -0.006**
                                     (0.003)   (0.003)
C(state)[T.Massachusetts]            -0.002    0.002
                                     (0.003)   (0.003)
C(state)[T.Michigan]                 -0.002    -0.001
                                     (0.003)   (0.002)
C(state)[T.Minnesota]                -0.007**  -0.004
                                     (0.003)   (0.003)
C(state)[T.Mississippi]              -0.001    -0.001
                                     (0.003)   (0.002)
C(state)[T.Missouri]                 -0.009*** -0.008***
                                     (0.003)   (0.002)
C(state)[T.Montana]                  -0.004    -0.002
                                     (0.003)   (0.002)
C(state)[T.Nebraska]                 -0.009*** -0.006**
                                     (0.003)   (0.002)
C(state)[T.Nevada]                   -0.012*** -0.008***
                                     (0.003)   (0.002)
C(state)[T.New Hampshire]            -0.005*   -0.002
                                     (0.003)   (0.003)
C(state)[T.New Jersey]               -0.003    -0.001
                                     (0.003)   (0.003)
C(state)[T.New Mexico]               -0.007**  -0.006***
                                     (0.003)   (0.002)
C(state)[T.New York]                 -0.000    0.001
                                     (0.003)   (0.003)
C(state)[T.North Carolina]           -0.002    -0.001
                                     (0.003)   (0.002)
C(state)[T.North Dakota]             -0.014*** -0.012***
                                     (0.003)   (0.002)
C(state)[T.Ohio]                     0.002     0.003
                                     (0.003)   (0.002)
C(state)[T.Oklahoma]                 0.004     0.007***
                                     (0.003)   (0.002)
C(state)[T.Oregon]                   -0.001    -0.001
                                     (0.003)   (0.002)
C(state)[T.Pennsylvania]             0.004     0.004*
                                     (0.003)   (0.002)
C(state)[T.Rhode Island]             -0.005    -0.001
                                     (0.003)   (0.002)
C(state)[T.South Carolina]           -0.011*** -0.010***
                                     (0.003)   (0.002)
C(state)[T.South Dakota]             -0.018*** -0.015***
                                     (0.003)   (0.002)
C(state)[T.Tennessee]                0.000     0.003*
                                     (0.003)   (0.002)
C(state)[T.Texas]                    0.003     0.001
                                     (0.003)   (0.002)
C(state)[T.Utah]                     0.018***  0.017***
                                     (0.003)   (0.002)
C(state)[T.Vermont]                  -0.008**  -0.006**
                                     (0.003)   (0.003)
C(state)[T.Virginia]                 0.002     0.001
                                     (0.003)   (0.003)
C(state)[T.Washington]               -0.007**  -0.005*
                                     (0.003)   (0.003)
C(state)[T.West Virginia]            -0.006**  -0.004*
                                     (0.003)   (0.002)
C(state)[T.Wisconsin]                0.005*    0.007***
                                     (0.003)   (0.002)
C(state)[T.Wyoming]                  -0.011*** -0.006**
                                     (0.003)   (0.003)
C(year)[T.1994]                                -0.002*
                                               (0.001)
C(year)[T.1995]                                0.001
                                               (0.001)
C(year)[T.1996]                                0.002
                                               (0.001)
C(year)[T.1997]                                0.005***
                                               (0.002)
C(year)[T.1998]                                0.006***
                                               (0.002)
C(year)[T.1999]                                0.013***
                                               (0.002)
C(year)[T.2000]                                0.015***
                                               (0.002)
C(year)[T.2001]                                0.015***
                                               (0.002)
C(year)[T.2002]                                0.019***
                                               (0.002)
C(year)[T.2003]                                0.022***
                                               (0.002)
C(year)[T.2004]                                0.011***
                                               (0.003)
C(year)[T.2005]                                0.018***
                                               (0.003)
C(year)[T.2006]                                0.013***
                                               (0.003)
C(year)[T.2007]                                0.012***
                                               (0.003)
C(year)[T.2008]                                0.015***
                                               (0.004)
C(year)[T.2009]                                0.005
                                               (0.003)
C(year)[T.2010]                                0.008**
                                               (0.004)
C(year)[T.2011]                                0.010***
                                               (0.004)
C(year)[T.2012]                                0.009**
                                               (0.004)
C(year)[T.2013]                                0.006
                                               (0.004)
C(year)[T.2014]                                0.002
                                               (0.004)
C(year)[T.2015]                                0.003
                                               (0.004)
Health                     0.000     0.000***  0.000
                           (0.000)   (0.000)   (0.000)
Hospitals                  -0.000    -0.000*** -0.000**
                           (0.000)   (0.000)   (0.000)
Intercept                  0.251***  0.248***  0.238***
                           (0.008)   (0.010)   (0.009)
R-squared                  0.018     0.369     0.672
R-squared Adj.             0.013     0.338     0.649
np.log(pinc)               -0.005*** 0.002     -0.008
                           (0.002)   (0.003)   (0.005)
pcol                       -0.000    -0.000    -0.000
                           (0.000)   (0.000)   (0.000)
phs                        0.000     0.000     0.000*
                           (0.000)   (0.000)   (0.000)
========================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01
"""